:root {
    --background-color: #EFEFEF;
    --card-color: #D5D5D5;
    --seach-area-color: #F5F5F5;

}
@font-face {
    font-family: Inter-Regular;
    src: url(./Fonts/static/Inter_24pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Inter-Bold;
    src: url(./Fonts/static/Inter_24pt-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Inter-Medium;
    src: url(./Fonts/static/Inter_24pt-Medium.ttf);
    font-weight: 500;
}

body {
    font-family:Inter-Regular;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.Dflex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexJustifyCenter {
    justify-content: center;
}

.conteiner-search {
    margin: 132px 0;
    width: 100%;
}

.search-area {
    background-color: var(--seach-area-color);
    box-sizing: border-box;
    width: min(589px, 90%);
    padding: 10px 24px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.255);
}

#search-img {
    margin: auto;
    margin-left: 10px;
}

input {
    margin-left: 22px;
    font-size: 32px;
    font-family: Inter-Medium;
    flex: 1;
    min-width: 0;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

input:focus {
    outline: none;
}

.card {
    background-color: var(--card-color);
    border-radius: 25px;
    width: 100%;
    max-width: 330px;
    height: 440px;
    transition: filter 0.5s ease, opacity 0.5s ease, scale 0.5s ease;
}

.card:hover {
    scale: 105%;
}

.card-info-conteiner {
    margin: 15px 17px 0 17px;
    height: calc(100% - 30px);
    width: calc(100% - 34px);
    display: flex;
    flex-direction: column;

}

.card-info-conteiner p {
    margin-top: auto;
    justify-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}

.card-info-conteiner h2 {
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 32px;
    font-family: Inter-Bold;
}

.card-img {
    border-radius: 15px;
    width: 100%;
    height: 55%;
    background-color: white;
    object-fit: cover;
}

.card-area {
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    gap: 30px 60px;
    flex-wrap: wrap;

}

.conteiner-card-area {
    margin-bottom: 30px;
}

#NotFound{
    font-family: Inter-Bold;
    font-size: 30px;
    width: auto;
    height: 64px;
    line-height: 10px;
    padding: 10px  20px;
    background-color: var(--card-color);
    border-radius: 15px;
}

@media screen and (min-width:1024px) {
    .card-area:has(.card:hover) .card:not(:hover) {
        filter: blur(4px);
        opacity: 0.5;
    }

}

@media screen and (max-width:1024px) {
    .card {
        width: 300px;
        max-width: 100%;
    }

    .card-area {
        gap: 30px;
    }
}

@media screen and (max-width:426px) {
    .card {
        width: 160px;
        height: 230px;
    }

    .card-img {
        height: 110px;
    }

    .card-info-conteiner h2 {
        font-size: 16px;
    }

    .card-info-conteiner p {
        font-size: 14px;
    }

    .card-info-conteiner {
        margin: 12px 10px 0 10px;
        height: calc(100% - 24px);
        width: calc(100% - 20px);
    }

    input {
        font-size: 24px;
    }

    .search-area {
        padding: 5px;
    }

    #search-img {
        height: 25px;
    }
}
@media screen and (max-width:376px) {
    .card {
        width: 110px;
        height: 180px;
    }

    .card-img {
        height: 70px;
    }

    .card-info-conteiner h2 {
        font-size: 14px;
    }

    .card-info-conteiner p {
        font-size: 12px;
    }

    .card-info-conteiner {
        margin: 10px 8px 0 8px;
        height: calc(100% - 20px);
        width: calc(100% - 16px);
    }
}