:root{
    --background-color:#EFEFEF;
    --card-color:#D5D5D5;
    --seach-area-color:#F5F5F5;

}
body{
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
.Dflex{
    display: flex;
}
.flexRow{
    flex-direction: row;
}
.flexColumn{
    flex-direction: column;
}
.flexJustifyCenter{
    justify-content: center;
}
.conteiner-search{
    margin: 132px 0;
    width: 100%;
}
.search-area{
    background-color: var(--seach-area-color);
    width: 589px;
    height: 26px;
    padding: 24px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.255) ;
}
#search-img{
    margin-left: 10px;
}
input{
    margin-left: 22px;
    font-size: 32px;
    width: 100%;
    background-color: var(--seach-area-color);
    border: none;
    text-decoration: underline;
}
input:focus{
    outline: none;
}
.card{
    background-color: var(--card-color);
    border-radius: 25px;
    width: 330px;
    height: 440px; 
    transition: filter 0.5s ease, opacity 0.5s ease, scale 0.5s ease;
}
.card-area:has(.card:hover) .card:not(:hover){
    filter: blur(4px);
    opacity: 0.5;
}

.card:hover{
    scale: 105%;
}
.card-info-conteiner{
    margin: 15px 17px 0 17px;
    height: calc(100% - 30px);
    width: calc(100% - 34px);
    display: flex;
    flex-direction: column;

}
.card-info-conteiner p{
    margin-top: auto;
    font-size: 24px;
    font-weight: bold;
}
.card-info-conteiner h2{
    font-size: 32px;
}
.card-img{
    border-radius: 15px;
    width: 300px;
    height: 230px;
    background-color: white;
    object-fit: cover;
}
.card-area{
    margin-inline: 30px;
    gap: 30px 60px;
    flex-wrap: wrap;
    
}
.conteiner-card-area{
    margin-bottom: 30px;
}

@media screen and (max-width:1024px) {
    .card-area{
        gap: 30px;
        
    }

}